{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%block content%}
<div  >
  <div class="main-window prevideo" style="position: relative; height: 100vh;  overflow: hidden;" >
      <video src="static/videos/video17.mp4" class="prevideo" autoplay loop muted style="width: 100%; height: auto; object-fit: cover; margin-top: 20px;"></video>
      <a href="product_list" class="shop-now-btn" style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); padding: 10px 20px; background-color: rgb(185, 180, 180); color: white; text-decoration: none; border-radius: 5px; font-family: sans-serif; transition: background-color 0.3s;">Shop Now</a>
  </div>
</div>

<!-- Inside the <body> tag, after the <div class="main-window"> -->
<div>
  <div class="featured-collections">
    <div>
      <h6>FEATURED COLLECTIONS</h6>
    </div>
    <div>
      <h5>SHOP SANCHVI LOOKS</h5>
    </div>
  </div>
</div>


<!--Animation cards  -->

<div class="box-container">
  <div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/Dviti_SG17_x800.jpg?v=1697879474');">
        <div class="inner color-white">
          <h3 class="flip-box-header">1st Birthdays</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/Dviti_SG17_x800.jpg?v=1697879474');">
        <div class="inner color-white">
          <h3 class="flip-box-header">1st Birthdays</h3>
          <p>A short sentence describing this callout is.</p>
          <button class="flip-box-button" onclick="location.href='birthday_list'">View all</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/B22_1178-1_400x.jpg?v=1702555074');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Casual wear</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/B22_1178-1_400x.jpg?v=1702555074');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Casual wear</h3>
          <p>A short sentence describing this callout is.</p>
          <button class="flip-box-button" onclick="location.href='casual'">View all</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/KS_14_Final-01_600x.jpg?v=1713515112');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Ethnic wear</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/KS_14_Final-01_600x.jpg?v=1713515112');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Ethnic wear</h3>
          <p>A short sentence describing this callout is.</p>
          <button class="flip-box-button" onclick="location.href='ethnic'">View all</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/mom_daughter_piece_400x.jpg?v=1709619319');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Mom-Daughter duo</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/mom_daughter_piece_400x.jpg?v=1709619319');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Mom-Daughter duo</h3>
          <p>A short sentence describing this callout is.</p>
          <button class="flip-box-button" onclick="location.href='mom_daughter'">View all</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/Kids_03A_Final-01_2_400x.jpg?v=1715773760');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Party wear</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/Kids_03A_Final-01_2_400x.jpg?v=1715773760');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Party wear</h3>
          <p>A short sentence describing this callout is.</p>
          <button class="flip-box-button" onclick="location.href='party'">View all</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-item">
    <div class="flip-box">
      <div class="flip-box-front text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/IMG-8275_400x.jpg?v=1702968433');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Accessories</h3>
          <p>A short sentence describing this callout is.</p>
          <img src="https://s25.postimg.cc/65hsttv9b/cta-arrow.png" alt="" class="flip-box-img">
        </div>
      </div>
      <div class="flip-box-back text-center"
        style="background-image: url('https://sanchvi.com/cdn/shop/files/IMG-8275_400x.jpg?v=1702968433');">
        <div class="inner color-white">
          <h3 class="flip-box-header">Accessories</h3>
          <p>A short sentence describing this callout is.</p>
          <button class="flip-box-button" onclick="location.href='accessories'">View all</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- video cards  -->
<div style="padding-top: 5%;">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px; flex-wrap: wrap; gap: 5%;">
      <div style="width: 100%; max-width: 400px; height: 610px; position: relative; flex: 1 1 300px;">
        <video src="static/videos/video13.mp4" autoplay loop muted
          style="width: 100%; height: 100%; object-fit: cover;"></video>
        <a href="details1">
          <button
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; border: 2px solid #fff; border-radius: 5px; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-size: 16px; text-align: center; cursor: pointer;">Buy
            Now</button>
        </a>
      </div>
      <div style="width: 100%; max-width: 400px; height: 610px; position: relative; flex: 1 1 300px;">
        <video src="static/videos/video9.mp4" autoplay loop muted
          style="width: 100%; height: 100%; object-fit: cover;"></video>
        <a href="details2">
          <button
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; border: 2px solid #fff; border-radius: 5px; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-size: 16px; text-align: center; cursor: pointer;">Buy
            Now</button>
        </a>
      </div>
      <div style="width: 100%; max-width: 400px; height: 610px; position: relative; flex: 1 1 300px;">
        <video src="static/videos/video16.mp4" autoplay loop muted
          style="width: 100%; height: 100%; object-fit: cover;"></video>
        <a href="details3">
          <button
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; border: 2px solid #fff; border-radius: 5px; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-size: 16px; text-align: center; cursor: pointer;">Buy
            Now</button>
        </a>
      </div>
    </div>
    <div style="display: flex; justify-content: space-between; margin-bottom: 20px; flex-wrap: wrap; gap: 5%;">
      <div style="width: 100%; max-width: 400px; height: 610px; position: relative; flex: 1 1 300px;">
        <video src="static/videos/video11.mp4" autoplay loop muted
          style="width: 100%; height: 100%; object-fit: cover;"></video>
        <a href="details4">
          <button
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; border: 2px solid #fff; border-radius: 5px; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-size: 16px; text-align: center; cursor: pointer;">Buy
            Now</button>
        </a>
      </div>
      <div style="width: 100%; max-width: 400px; height: 610px; position: relative; flex: 1 1 300px;">
        <video src="static/videos/video12.mp4" autoplay loop muted
          style="width: 100%; height: 100%; object-fit: cover;"></video>
        <a href="details5">
          <button
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; border: 2px solid #fff; border-radius: 5px; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-size: 16px; text-align: center; cursor: pointer;">Buy
            Now</button>
        </a>
      </div>
      <div style="width: 100%; max-width: 400px; height: 610px; position: relative; flex: 1 1 300px;">
        <video src="static/videos/video10.mp4" autoplay loop muted
          style="width: 100%; height: 100%; object-fit: cover;"></video>
        <a href="details6">
          <button
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; border: 2px solid #fff; border-radius: 5px; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-size: 16px; text-align: center; cursor: pointer;">Buy
            Now</button>
        </a>
      </div>
    </div>
    <!-- <div style="text-align: center; margin-top: 20px;">
          <a href="all_videos.html">
              <button style="padding: 10px 20px; border: 2px solid #000; border-radius: 5px; background-color: #fff; color: #000; font-size: 16px; cursor: pointer;">View All</button>
          </a>
      </div> -->
  </div>
</div>






<!-- our collections -->

<div style="text-align: center; color: #8B0000; padding-top: 5%;">
  <span>O&nbsp;U&nbsp;R&nbsp;&nbsp;&nbsp;&nbsp;C&nbsp;O&nbsp;L&nbsp;L&nbsp;E&nbsp;C&nbsp;T&nbsp;I&nbsp;O&nbsp;N&nbsp;S</span>
</div>

<!-- vender cards  -->
<div style="padding: 5%;">
  <div class="vendor-cards">
    <div class="card1">
      <img src="https://sanchvi.com/cdn/shop/files/KS_03_Final-01_600x.jpg?v=1714728893" alt="Product 1">
      <div class="card1-details">
        <h6>SANCHVI</h6>
        <p>DOUBLE SCALLOP LEHERIYA
          PRINT</p> <!-- Dress name -->
        <p>Rs.23,599</p> <!-- Price -->
      </div>
      <a href="product1" class="card1-link"></a>
    </div>
    <div class="card1">
      <img src="https://sanchvi.com/cdn/shop/files/KS_05_Final-01-Copy_600x.jpg?v=1713515195" alt="Product 2">
      <div class="card1-details">
        <h6>SANCHVI</h6>
        <p>JIMMY CHOO HALTER NECK WITH PANTS
        </p> <!-- Dress name -->
        <p>Rs.8,499</p> <!-- Price -->
      </div>
      <a href="product2" class="card1-link"></a>
    </div>
    <div class="card1">
      <img src="https://sanchvi.com/cdn/shop/files/KS_26_Final-01_600x.jpg?v=1713515390" alt="Product 3">
      <div class="card1-details">
        <h6>SANCHVI</h6>
        <p>WIRED LEAVES STRUCTURED BLOUSE WITH ORGANZA SKIRT
        </p> <!-- Dress name -->
        <p>Rs.8,099</p> <!-- Price -->
      </div>
      <a href="product3" class="card1-link"></a>
    </div>
    <div class="card1">
      <img
        src="https://sanchvi.com/cdn/shop/files/KS_30_Final-01_b0ceed62-0235-4675-a438-863f05237070_250x.jpg?v=1713516676"
        alt="Product 4">
      <div class="card1-details">
        <h6>SANCHVI</h6>
        <p>BUTTERFLY THEMED DRESS
        </p> <!-- Dress name -->
        <p>Rs.6,899</p> <!-- Price -->
      </div>
      <a href="product4" class="card1-link"></a>
    </div>
    <div class="view-all">
      <a href="ethnic">View All</a>
    </div>
  </div>
</div>

<!-- purchase gowns  -->

<div style="text-align: center; color: #8B0000; padding-top: 2%;" style="padding-bottom: 3%;">
  <a href="gown_list" style="color: #8B0000; text-decoration: none;" style="padding-bottom: 3%;">
    <span>A&nbsp;C&nbsp;Q&nbsp;U&nbsp;I&nbsp;R&nbsp;I&nbsp;N&nbsp;G&nbsp;&nbsp;&nbsp;&nbsp;W&nbsp;O&nbsp;M&nbsp;E&nbsp;N&nbsp;&nbsp;&nbsp;A&nbsp;T&nbsp;T&nbsp;I&nbsp;R&nbsp;E</span>
  </a>
</div>
<div>
  <div class="gallery-container" style="padding-top: 5%;" style="padding-bottom: 15%;">
    <figure class="image-block">
      <img
        src="https://sanchvi.com/cdn/shop/files/SG_01-01_1fde6fc2-deb6-415a-b4c7-d17656ead521_400x.jpg?v=1709622759"
        alt="" />
      <figcaption>
        <h6>TEAL</h6>
        <p>SANCHVI</p>
        <p>RS. 12,999/-</p>
        <a href="shop_now1" class="shop-now-button">Shop Now</a>
      </figcaption>
    </figure>

    <!-- Repeat this block 4 more times -->
    <figure class="image-block">
      <img
        src="https://sanchvi.com/cdn/shop/files/SG_21-01_1b02f90c-b454-4b5d-8da5-c018f20e8b05_1000x.jpg?v=1701237815"
        alt="" />
      <figcaption>
        <h6>ROYALTY</h6>
        <p>SANCHVI</p>
        <p>RS. 14,999/-</p>
        <a href="shop_now2" class="shop-now-button">Shop Now</a>
      </figcaption>
    </figure>

    <figure class="image-block">
      <img
        src="https://sanchvi.com/cdn/shop/files/SG_08-01_e6f75df7-f3cf-4b4f-86e7-1670b1a47723_1000x.jpg?v=1701237887"
        alt="" />
      <figcaption>
        <h6>WINE</h6>
        <p>SANCHVI</p>
        <p>Rs. 25,999/-</p>
        <a href="shop_now3" class="shop-now-button">Shop Now</a>
      </figcaption>
    </figure>

    <figure class="image-block">
      <img
        src="https://sanchvi.com/cdn/shop/files/SG_18-01_aaedc11f-6910-4ad4-949c-578d0231be58_1000x.jpg?v=1701237836"
        alt="" />
      <figcaption>
        <h6>LAVENDER</h6>
        <p>SANCHVI</p>
        <p>Rs. 15,999/-</p>
        <a href="shop_now4" class="shop-now-button">Shop Now</a>
      </figcaption>
    </figure>

    <figure class="image-block">
      <img
        src="https://sanchvi.com/cdn/shop/files/SG_26-01_47afa629-9d47-483d-8e6f-06fe5258d151_700x.jpg?v=1709622651"
        alt="" />
      <figcaption>
        <h6>SNOWFLAKE</h6>
        <p>SANCHVI</p>
        <p>Rs. 16,999/-</p>
        <a href="shop_now5" class="shop-now-button">Shop Now</a>
      </figcaption>
    </figure>

  </div>
{%endblock%}